@page "/engine"
@using SkillsDatabase
<h3>Kenntnisbasierte Mitarbeitersuche</h3> 

<table>
    <tr>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>Kenntnis</th>
                        <th>Stufe</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var skill in requiredSkills)
                    {
                        <tr>
                            <td><input type="text" autocomplete="on" name="skillname" @bind-value=skill.Name /></td>
                            <td>
                                <InputSelect @bind-Value="requiredLevels[requiredSkills.IndexOf(skill)]">
                                    @foreach (var l in Enum.GetValues(typeof(ProficiencyLevel)))
                                    {
                                        <option value="@l">@l</option>
                                    }
                                </InputSelect>
                            </td>
                            <td><img src="~\Images\Icons\delete.png"> @*<a target="_blank" href="https://icons8.com/icon/102550/remove">Delete</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><button name="addskill">Hinzufügen</button></td>
                </tr>
                
            </table>
        </td>
        <td>
            <table>
                @foreach(var emp in searchResult)
                {
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>@emp.FirstName @emp.LastName</th>
                                    </tr>
                                    <tr>
                                        <th>Kenntnis</th>
                                        <th>Stufe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var prof in context.GetProficiencies(emp))
                                    {
                                        <tr>
                                            <td>@prof.Skill.Name</td>
                                            <td>@prof.Level</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>

@code {
    SkillsDbContext context = Program.dbContextFactory.newContext();
    List<Skill> requiredSkills = new List<Skill>();
    List<ProficiencyLevel> requiredLevels = new List<ProficiencyLevel>();

    List<Employee> searchResult = new List<Employee>();

}
